body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background: #a18aad;
  text-align: center;
}

.about {
  padding: 40px;
}

.farah {
  display: flex;
  justify-content:center;
  gap: 20px;
}

.abbasi {
  background: rgb(79, 74, 74);
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.khan img {
  width: 80%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.khan h2 {
  margin: 15px 0 5px;
  font-size: 20px;
}

.khan p {
  color: #090808;
}

/* Hover Effect */
.khan:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}