
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    width: 80%;
    height: auto;
}

header {
    background-color: #666;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.header-logo img {
    left: 0.05px;
    width: 100px; 
    height: 100px;
    position: absolute;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ccc;
}

.sidebar-left {
    width: 20%;
    height: 140px;
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

.sidebae-left h3 {
    margin-bottom: 10px;
}

.sidebar-left a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.center {
    width: 50%;
    height: 150px;
    background-color: white;
    padding: 20px;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-right img {
    background-color: #ddd;
    width: 100px;
    height: 140px;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #666;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}