body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    font-family: 'Times New Roman', Times, Arial;
}

.rainbow-text{
    font-size: 48px;
    font-weight: bold;
    animation: rainbow 10s infinite linear;
}

@keyframes rainbow{
    0%{color: red;}
    25%{color: orange;}
    50%{color: green;}
    75%{color: blue;}
    100%{color: purple;}
}