body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    font-family: 'Times New Roman', Times, Arial;
}

.loader-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: spin 10s  linear infinite;
}

@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
